
/* PRODUCT OVERVIEW STYLES */

/* product-overview container */

.product-overview {
  display: flex;
  justify-content: space-evenly;
}

.product-description {
  width: 520px;
}

/* price */
.sale-price {
  color: red;
}

.discounted {
  text-decoration: line-through;
}

/* review stars */

.star-outline {
  height: 36px;
  width: 31px;
}

.star-fill {
  position: relative;
  display: inline-block;
  height: 36px;
  background-color: orange;
}

.star-container {
  height: 36px;
  width: 31px;
  display: inline-block;
}




/************ Questions and Answers ************/

/*** QandA ***/

#QA-column {
  display: inline-block;
}



/*** SearchBar ***/
.searchInput {
  width: 200px;
}
/*** QandAList ***/


.QA-questionInfo {
  margin-right: 20px;
}

.QA-yes {
  text-decoration: underline;
}

.QA-helpful-text {
  margin-left: 100px;
  margin-right: 8px;
}

.QA-addAnswer {
  margin-left: 8px;
  text-decoration: underline;
}

.QA-4in1 {
  float: right;
}

.QA-img {
  padding: 5px;
  width: 150px;
}


