* {
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  text-align: center;
}

/* RELATED PRODUCT STYLES */

#related {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#items {
  width: 23%;
  height: 450px;
  border: 1px solid black;
  text-align: center;
}

#items > #thumbnail {
  width: 100%;
  height: 55%;
}

#items > p {
  margin-top: 0px;
}

#star-button {
  position: relative;
  height: 30px;
  width: 30px;
  z-index: 1;
  top: -50%;
  left: 33%;
  padding-bottom: 0px;
  margin-bottom: 0px;
  filter: drop-shadow(2px 2px 2px black);
  transition: filter .5s;
}

#star-button:hover {
  filter: drop-shadow(2px 2px 2px white);
}

/* PRODUCT OVERVIEW STYLES */

/* product-overview container */

#logo {
  position: relative;
  width: 200px;
  height: 200px;
  margin: -35px 0 -30px -35px;
}

.product-overview {
  display: flex;
  justify-content: center;
}

.product-description {
  display: flex;
  width: 100%;
  height: 185px;
  margin-top: 50px;
  padding-left: 25px;
}

.product-information {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-between;
  margin-left: 30px;
}

.description-container {
  width: 55%;
  padding-right: 85px;
  border-right: 1px solid black;
}

.features {
  padding-left: 85px;
}

/* price */
.sale-price {
  color: red;
}

.discounted {
  text-decoration: line-through;
}

/* review stars */

.star-outline {
  height: 36px;
  width: 31px;
}

.star-fill {
  position: relative;
  display: inline-block;
  height: 36px;
  background-color: orange;
}

.star-container {
  height: 36px;
  width: 31px;
  display: inline-block;
}

.review-link {
  padding-left: 10px;
}

/* styles */

.style-container {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
}

.style-thumbnail {
  display: block;
  object-fit: cover;
  object-position: center;
  height: 85px;
  width: 85px;
  border-radius: 50%;
  margin: 10px;
}

.style-thumbnail:hover {
  cursor: pointer;
}

.thumbnail-container {
  position: relative;
}

.selected-check {
  position: absolute;
  color: white;
  background-color: rgb(49, 138, 255);
  text-align: center;
  width: 20px;
  border-radius: 60%;
  top: 0;
  right: 0;
  margin-right: 15px;
  margin-top: 10px;
}

.selected-style {
  box-shadow: 0 0 0 5px rgb(132, 210, 206);
}

/* image view */

.image-gallery {
  flex-grow: 1;
  width: 500px;
  height: 500px;
  max-height: 80vh;
  max-width: 80vh;
  min-width: 80vh;
}

.image-default-view {
  width: 100%;
  height: 100%;
}

.image-default-view img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* add to cart */

.selectors {
  margin: 10px;
  width: 135px;
  height: 45px;
  text-align: left;
  padding-left: 10px;
}

.size-selector {
  width: 200px;
}

.selector-container {
  position: relative;
  padding-top: 8px;
}

.add-to-cart {
  margin-right: 10px;
  margin-left: 10px;
  background-color: white;
  padding: 15px 10px 15px 10px;
  border: 1px solid rgb(79, 79, 79);
  width: 135px;
  border-radius: 4%;
}

.add-to-cart:hover {
  cursor: pointer;
}

.size-guard {
  position: absolute;
  font-size: 0.7em;
  margin-top: 0px;
  top: 0;
  left: 10px;
  color: red;
}

.add-to-outfit {


}


/************ Questions and Answers ************/

/*** QandA ***/

#QA-column {
  display: inline-block;
}



/*** SearchBar ***/
.searchInput {
  width: 200px;
}
/*** QandAList ***/


.QA-questionInfo {
  margin-right: 20px;
}

.QA-yes {
  text-decoration: underline;
}

.QA-helpful-text {
  margin-left: 100px;
  margin-right: 8px;
}

.QA-addAnswer {
  margin-left: 8px;
  text-decoration: underline;
}

.QA-4in1 {
  float: right;
}

.QA-img {
  padding: 5px;
  width: 150px;
}



