/* PRODUCT OVERVIEW STYLES */

/* product-overview container */

.product-overview {
  display: flex;
  justify-content: space-evenly;
}

/* review stars */

.star-outline {
  height: 36px;
  width: 31px;
}

.star-fill {
  position: relative;
  display: inline-block;
  height: 36px;
  background-color: orange;
}

.star-container {
  height: 36px;
  width: 31px;
  display: inline-block;
}